h5{
    position: relative;
}

h5::before , h5::after {
    position: absolute;
    right: 12px;
    
}

h5::before {
    content: '';
    top: 36px;
    width: 50px;
    height: 2px;
    background-color: white;
}

h5::after{
    content: '^^^^';
    top: 26px;
    color: white;
}

p{
}

iframe{
    width: 80%;
    height: 300px;
}